
body{
  display: flex;    
  flex-direction: column;
/* 페이지 등장효과 */
  -webkit-animation: titlename 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: titlename 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  background-color: ;
}
/* 헤더 */
.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
/* 헤더/로고사진 */
.logoimage{
  display:flex;
  width: 5%;
  height: 80px;
}
/* 헤더/랩이름 */
.logo{
  display: flex;
  width: 11%;
  height: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4vw;
  justify-content: center;
  align-items: center;
}
/* 헤더/메뉴바 */
.menu{
  display: flex;
  width: 78%;
  height: 80px;
  padding: 0px;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  font-size: 2vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.login{
  width: 6%;
}
.loginicon{
  width: 40px;
  height: 40px;
}
/* 드롭다운 상단 메뉴바 */
ul{
  list-style:none;
  padding: 0px; 
}
a{
  text-decoration:none; 
  color:inherit;
}
.menu:after{
  display:block; 
  content:''; 
  clear:both;
}
.menu > li{
  position:relative; 
  float:left; 
}
.menu > li > a{
  display:block; 
  padding:0 15px; 
  height:40px; 
  line-height:40px;
}
.menu > li:hover .depth_1 {
  display:block; 
}
.menu .depth_1{
  display:none; 
  position:absolute;  
  z-index: 1;
  background-color: white;
  opacity: 0.8;
}
.menu .depth_1 a{
  display:block; 
  padding:1vw; 
  font-size: 1.5vw; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  color:black;
  border-left: solid;
}
ul a:hover{
  text-decoration: underline;
}
/* 바디 */
.body{
  display: flex;
  width: 99.5%;
  height: 400px;
  margin-top: 25px;
  border-left:  solid;
  border-right:  solid;
  justify-content: center;
}
.flowimage{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 600px;
  height: 370px;
}
/* foot */
.foot{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.9%;
  height: 200px;
  font-family: Donoun-Medium;
  font-size: 4vw;
  margin-top: 42px;
  /* 글자 애니메이션 효과 */
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}
.foottop{
  display: flex;
  justify-content: space-around;
  height: 50%;
}
.footbtm{
  display: flex;
  justify-content: center;
  height: 50%;
}
/* 반응형 웹 */
@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
 
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
  }
  .logoimage{
    width: 40px;
    height: 40px;
  }
  .logo{
    font-size: 19px;
    height: 20px;
  }
  .menu{
    font-size: 15px;
    height: 20px;
    margin-top: 10px;
  }
  body{
    overflow: scroll;
  }
  .body{
    height: 330px;
    margin-top: 30px;
  }
  img{
    height: 310px;
  }
  .foot{
    font-size: 45px;
    margin-top: 60px;
  }
  .login{
    position: absolute;
    left: 95%;
  }
  .loginicon{
    width: 30px;
    height: 30px;
  }
}
/* @media (max-height:576px)
{
  body{
    background-color: aqua;
  }
  .header{
    height: 50px;
  }
  .logoimage{
    height: 50px;
    width: 40px;
  }
  .logo{
    font-size: 24px;
    height: 50px;
  }
  .menu{
    font-size: 15px;
    height: 50px;
  }
  .foot{
    font-size: 40px;
    margin-top: 60px;
  }
  .body{
    height: 290px;
    margin-top: 15px;
  }
  .flowimage{
    height: 290px;
  }
  img{
    height: 270px;
  }
} */
/* 웹 등장 효과 */
@-webkit-keyframes titlename {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes titlename {

  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/* foot 효과 */
@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
/* 폰트 */
@font-face {
  font-family: 'Donoun-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




